.login-form {
  border: 1px solid red;
  border-radius: 25px;
  padding: 2em;
  background-color: lightgray;
  overflow: hidden;
}
.login-form-item {
  /* display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: left; */
  display: flex;
  justify-content: space-between;
  /* grid-template-columns: 50% 50%; */
  column-gap: 50px;
}

.login-form-item * {
  text-align: left;
}
