.navbar {
  /* background-color: lightgray; */
  /* border-bottom: 3px solid darkgray; */
  margin-bottom: 10px;
}
.navbar ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

.navbar ul > li {
  margin: 0;
  font-size: 24px;
}

.navbar ul > li svg {
  fill: #f9a03f;
  width: 3em;
  height: auto;
}
.nav-link,
.nav-link-profile {
  display: flex;
  align-items: center;
}

.nav-link svg {
  margin-right: 10px;
}

#create-spot-btn {
  background-color: #ceb5a7;
  color: black;
  border: none;
  border-radius: 15px;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
}

#create-spot-btn:hover {
  background-color: #f7d488;
  transform: translateY(-2px);
  cursor: pointer;
}

#create-spot-btn:active {
  transform: translateY(0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
