.profile-button {
  position: relative;
  display: inline-block;
}

.hidden {
  display: none;
}
.profile-icon {
  border: 1px solid black;
  border-radius: 25px;
  font-size: 8px;

  padding: 0.5em 1em;
}
.profile-icon:hover {
  cursor: pointer;
}

.profile-menu {
  width: max-content;
  position: absolute;
  z-index: 1;
  top: 50px;
  right: 10px;
}
.profile-menu > * {
  border-radius: 10px;
  background-color: darkgray;
  margin: 0;
  padding: 1em;
  list-style: none;
}

.profile-menu li {
  padding: 0.2em 0em;
  display: block;
}

.logout {
  width: 100%;
  border-radius: 10px;
  padding: 1em;
  border: none;
  background-color: lightgray;
}

.logout:hover {
  background-color: lightskyblue;
  cursor: pointer;
}
